mixin horizontal-commercial(data)
	.horizontal-commercial
		.horizontal-commercial__image
			img(src= data.src, alt= data.alt)
		.horizontal-commercial__right
			.horizontal-commercial__name= data.name
			.horizontal-commercial__title= data.title
			.horizontal-commercial__text= data.text	
