.gallery-list
	margin: -1.5%
	letter-spacing: -.31em
	width: 103%
	+below($media-screen-xs)
		width: 102%
		margin: -1%
	&__item
		display: inline-block
		letter-spacing: normal
		vertical-align: middle
		width: 22%
		margin: 1.5%
		text-align: right
		+below($media-screen-xs)
			width: 18%
			margin: 1%
		+below($media-screen-xxs)
			width: 23%
			margin: 1%
		img
			max-width: 100%
		&_commercial
			float: right
			+below($media-screen-xs)
				width: 37.5%
			+below($media-screen-xxs)
				display: none
			& ~ &
				+below($media-screen-xs)
					display: none
		&_horizontal-commercial
			+above($media-screen-xxs)
				display: none
			+below($media-screen-xxs)
				display: inline-block
				width: 98%
				text-align: left
				text-decoration: none
