.header
	&__text
		font-family: 'Playfair Display', serif
		color: #010101;
		font-size: 40px;
		text-transform uppercase
		overflow hidden
		+below($media-screen-xxs)
			font-size: 26px
		&::after
			content ''
			display inline-block
			height 2px
			width 100%
			margin-right -100%
			background-color #010101
			margin-bottom -2px
			margin-left 15px
